.env
*.log
temp/

# Generated configs (make template)
server/hy2/config/config.toml
server/nginx/conf/acme.conf
server/xray/config/config.json
server/sing-box/config/config.json
server/mosdns/config/config.yaml

# Client generated configs
.env.client
client/config/config.json
client/config/rule-set/
client/hy2-config/config.yaml
