{
    "log": {
        "loglevel": "warning"
    },
    "inbounds": [
        {
            "port": 0,
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "",
                        "flow": "xtls-rprx-vision"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "raw",
                "security": "reality",
                "realitySettings": {
                    "show": false,
                    "target": "",
                    "serverNames": [],
                    "shortIds": [],
                    "privateKey": "",
                    "mldsa65Seed": ""
                }
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "settings": {}
        }
    ]
}
